.bundle
db/*.sqlite3
db/sphinx/*
log/*
tmp/
.DS_Store
tmp/**/*
*~
*.*~
.*~
.*.*~
capybara*.html
.*.log
.swp.*
.*.kate-swp
config/database.yml
config/development.sphinx.conf
public/stylesheets/compiled/*
public/uploads/*
public/*
public/assets/*

*.orig
.rvmrc
task_wrapper.sh

custom_plan.rb
zeus.json
